.cityWrapper {
  width: 100%;
  min-height: 42rem;
  user-select: none;
}

.cityHeadingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.cityName {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: var(--font-weight-boldest);
}

.carousel {
  height: 45rem;
  float: left;
  margin: 0 4rem 0 0;
  aspect-ratio: 4 / 3;
}

.placeName {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: var(--font-weight-boldest);
}

.placeDescription {
  line-height: 3.5rem;
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-light-grey);
}

@media only screen and (max-width: 767px) {
  .carousel {
    width: 100%;
    height: unset;
    float: initial;
    margin: 0 0 4rem 0;
  }

  .placeName {
    text-align: center;
  }
}
