.pageContainer {
  margin: 0 auto;
  max-width: 120rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-white);
  font-weight: var(--font-weight-semi-bold);
}

.genresWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.genreChip {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 2 / 3;
}

.imdbLink {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.currentMovieGenres {
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .imdbLink {
    font-size: 1rem;
  }

  .currentMovieGenres {
    font-size: 1rem;
  }
}
