.itemOuterWrapper {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

.itemWrapper {
  width: 100%;
  height: 100%;
  padding: 20%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.itemImage {
  width: 100%;
  height: 100%;
  position: relative;
}
