html {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: #007ced;
  background-image: url(/images/page-background.png);
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
