:root {
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-weight-boldest: 700;

  --layer-100: 100;

  --color-pink: #bb86fc;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #555555;
  --color-dark-grey: #111111;
  --color-light-grey: #bbbbbb;
}
